<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <nav id="snippett-nav" class="nav"></nav>

    <section id="snippett-app" class="snippett-app-view"></section>

    <script src="js/app.js" charset="utf-8"></script>
  </body>
</html>
