<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>

    <style media="screen">
      html, body {
        height: 100%;
      }
    </style>
  </head>
  <body class="signup">
    <%- include('forms/signup', { message: signupMessage }) %>
  </body>
</html>
